tr,th,td{
    border: 1px solid grey;
    width:194px;
    height:40px;
    
}

.text{
    color:green;
}

td:first-child:before{
    counter-increment: count-value;
    content: counter(count-value);
}

body{
    counter-reset: count-value;
}